<div id="content">
    <h1 id="title-game3">1 seconds = - 2%... Try to survive ! <br>
        Click on the bacteria to boost your immune system and stay alive !</h1>
    <div id="container-minigame">
        <section id="clock">
            <div id="sphere">
                <span id="minDec" class="number">0</span><span id="minUni" class="number">0</span><span>:</span><span
                    id="secDec" class="number">4</span><span id="secUni" class="number">5</span>
            </div>
        </section>

        <div id="img-points">
            <img class="virus-points" src="./img/virus-green.png" alt="virus-green"> <span class="win-points">+2%</span>
            <img class="virus-points" src="./img/virus-purple.png" alt="virus-purple"> <span class="win-points">+5%</span>
            <img class="virus-points" src="./img/virus-blue.png" alt="virus-blue"> <span class="win-points">+7%</span>
        </div>

        <div id="board-minigame">
            <p id="score">Immune System</p>
            <div id='immune'>
                <div class="immune-system-border">
                    <div id="immune-system"></div>
                </div>
                <span id="pourcentage"></span>
            </div>
        </div>

        <audio src="./audio/heartbeat.mp3" id="heartbeat"></audio>
        <audio src="./audio/death.mp3" id="death"></audio>
        <div id="display-game">
            <img class="virus virus-purple" src="./img/virus-purple.png" alt="virus-purple">
            <img class="virus virus-purple" src="./img/virus-purple.png" alt="virus-purple">
            <img class="virus virus-green" src="./img/virus-green.png" alt="virus-green">
            <img class="virus virus-green" src="./img/virus-green.png" alt="virus-green">
            <img class="virus virus-blue" src="./img/virus-blue.png" alt="virus-blue">
            <img class="virus virus-blue" src="./img/virus-blue.png" alt="virus-blue">
            <audio id="sound" src="./audio/punch.mp3"></audio>
            <audio src="./audio/countdown.mp3" id="countdown"></audio>
            <audio src="./audio/cheering.mp3" id="cheering"></audio>
            <div class="game-over-or-next-game">Game Over <br>The virus killed you..
                <button id="btn-play-again" class="btn">Play again</button>
            </div>
            <div class="win">You survive the virus <br> Strong you are !
            </div>

        </div>
    </div>

</div>