<div id="content">
    <h1 id="title-game">Use the arrow keys to move the nose and avoid all bacteria</h1>
    <div id="container-minigame">
        <section id="clock">
            <div id="sphere">
                <span id="minDec" class="number">0</span><span id="minUni" class="number">0</span><span>:</span><span
                    id="secDec" class="number">4</span><span id="secUni" class="number">5</span>
            </div>
        </section>

        <div id="img-points">
            <img class="virus-points" src="img/virus-green.png" alt="virus-green"> <span class="lose-points">-5%</span>
            <img class="virus-points" src="img/virus-purple.png" alt="virus-purple"> <span class="lose-points">-10%</span>
            <img class="virus-points" src="img/virus-blue.png" alt="virus-blue"> <span class="lose-points">-15%</span>
            <img class="virus-points" src="img/antidote.png" alt="antidote"> <span class="win-points">+5%</span>
        </div>

        <div id="board-minigame">
            <p id="score">Immune System</p>
            <div id='immune'>
                <div class="immune-system-border">
                    <div id="immune-system"></div>
                </div>
                <span id="pourcentage"></span>
            </div>
        </div>
        <div id="display-game">
            <img id="nose" src="img/nose.png" alt="nose">
            <img class="virus virus-purple" src="img/virus-purple.png" alt="virus-purple">
            <img class="virus virus-purple" src="img/virus-purple.png" alt="virus-purple">
            <img class="virus virus-green" src="img/virus-green.png" alt="virus-green">
            <img class="virus virus-green" src="img/virus-green.png" alt="virus-green">
            <img class="virus virus-blue" src="img/virus-blue.png" alt="virus-blue">
            <img class="virus virus-blue" src="img/virus-blue.png" alt="virus-blue">
            <img class="antidote" src="img/antidote.png" alt="antidote">
            <div class="game-over-or-next-game">Game Over <br>The virus killed you..
                <button id="btn-play-again" class="btn">Play again</button>
            </div>
            <div class="game-over-or-next-game">You're still alive fiouuu
                <button id="btn-next-game" class="btn">Next game</button>
            </div>
        </div>
    </div>

</div>