<div id="content">
    <div id="container">
        <div id="header">
            <h1 id="big-title">Immune system : strong or weak ?</h1>
            <div id="question-score">
                <div>
                    <p id="good"><i class="far fa-thumbs-up"></i> Good answer => Boost 5% of your Immune System</p>
                    <p id="bad"><i class="far fa-thumbs-down"></i> Bad answer => Damage 5% of your Immune system</p>
                </div>

                <div id="board">
                    <p id="score">Immune System</p>
                    <div id='immune'>
                        <div class="immune-system-border">
                            <div id="immune-system"></div>
                        </div>
                        <span id="pourcentage">80%</span>
                    </div>

                    <p id="question">Question : 1/4 </p>
                </div>
            </div>

        </div>



        <div id="container2">
            <p id="statement"></p>
            <div id="tOf">
                <button id="true" class="btn">TRUE</button>
                <button id="false" class="btn">FALSE</button>
            </div>

            <p id="answer"></p>
            <button id="next">Next</button>

        </div>
    </div>
</div>
