<div id="container">
  <div id="presentation">
    <h1 id="big-title">Virus Invasion</i></h1>
    <p>Will you survive the virus ? </p>
  </div>

  <div class="btns-container">
    <button class="btn" id="start">START GAME</button>
    <button class="btn trigger" id="btn-how"> HOW TO PLAY</button>
  </div>
  <div class="game-info-page">
    <span class="close-btn">x</span>
    <div class="game-info-content">
      <div class="game_info">
        <h3 class="title-game-info">The main goal is to survive the virus by keeping your immune system high !</h3>
        <h3 class="title-game-info">First game</h3>
        <p>Guess if the statements made are true or false. A good answer boosts your immune system and a bad one damages
          it ! (Good news: you can't die at this part)</p>
        <h3 class="title-game-info">Second game</h3>
        <p>From now, you can die, bacteria are all around you ! Move the nose with right and left arrow keys to avoid
          bacteria and catch the antidote to boost your immune system</p>
        <h3 class="title-game-info"> Third game (if you're still alive)</h3>
        <p>Each second you lose 2% of your immune system. Catch the bacteria to have a chance to survive ! </p>
      </div>
    </div>
  </div>
</div>