<div id="container">
  <div id="presentation">
    <h1 id="big-title">Virus Invasion</i></h1>
    <p>Will you survive the virus ? </p>
  </div>

  <div class="btns-container">
    <button class="btn" id="start">START GAME</button>
    <button class="btn trigger" id="btn-how"> HOW TO PLAY</button>
  </div>

  <div class="game-info-page">
    <span class="close-btn">x</span>
    <div class="game-info-content">
      <div class="game_info">
        <p></p>
      </div>
      <div class="game-info">
        <p></p>
      </div>
    </div>
  </div>
</div>

